* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-bottom: 100px;
}

.inp-todo {
  border: 1px solid black;
}

.list {
  list-style: none;
  border: 1px solid black;
  margin-top: 30px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(161, 158, 158);
  padding: 3px;
  padding-left: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.del-icn {
  width: 24px;
  height: 24px;
  width: 100%;
  text-align: right;
}

.lucide {
  color: black;
  cursor: pointer;
}

.list span {
  text-align: right;
}

.list-text {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}